sudo: false
language: node_js
node_js:
  - 4.1

before_install:
  - npm install -g npm@'>=3.0.0'

install:
 # We need this module for doing HTTPS requests.
  - pip install --user requests
  - npm install

script:
  - grunt travis

sudo: required
